<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="compagniaAerea.Properties.Settings.myUniboAirlinesConnectionString"
            connectionString="Data Source=erikserver.database.windows.net;Initial Catalog=myUniboAirlines;Persist Security Info=True;User ID=erik_amministratore;Password=Cesenate_81"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>