<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="compagniaAerea.Properties.Settings.UniboAirlinesConnectionString"
            connectionString="Data Source=tcp:erikserver.database.windows.net,1433;Initial Catalog=UniboAirlines;Persist Security Info=True;User ID=erik_amministratore@erikserver;Password=Cesenate_81"
            providerName="System.Data.SqlClient" />
        <add name="compagniaAerea.Properties.Settings.uniboAirlinesConnectionString1"
            connectionString="Data Source=DESKTOP-TQRPAA4\SQLEXPRESS;Initial Catalog=uniboAirlines;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>